<a href="https://colab.research.google.com/github/milayacharlieCvSU/CPEN-21A-CPE-1-1/blob/main/Expressions_and_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operations and Expressions in Python

## Boolean Operators
*   Booleans represent one of two values: **True** or **False**

In [11]:
print(10 > 9)   # Must return True
print(10 == 9)  # Must return False
print(10 < 9)   # Must return False
print(10 != 9)  # Must return True

True
False
False
True

In [12]:
print(bool(True))     # Must return True    -> The value is True
print(bool(False))    # Must return False   -> The value is False
print(bool("Hello"))  # Must return True    -> The value exists
print(bool(16))       # Must return True    -> The value isn't 0 (numerical empty)
print(bool(0))        # Must return False   -> The value is 0
print(bool([]))       # Must return False   -> The value is empty

True
False
True
True
False
False

In [13]:
def myFunction():
  return True

print(myFunction())   # Must return True

def myFunction1():
  return False

print(myFunction1())  # Must return False

True
False

In [14]:
def myFunction2():
  return True

if myFunction2():     # This conditional must return "Yes!"
  print("Yes!")
else:
  print("No!")

def myFunction3():
  return False

if myFunction3():     # This conditional must return "No!"
  print("Yes!")
else:
  print("No!")

Yes!
No!

In [15]:
a, b = 6, 7
print(a == b)   # Must return False since 6 == 7 is True
print(a != a)   # Must return False since 7 == 7 is True

False
False

## Python Operators

### Common Mathematical Operators

In [16]:
print(10 + 5)   # Must return 15 since 10 + 5 = 15        -> Addition
print(10 - 5)   # Must return 5 since 10 - 5 = 5          -> Subtraction
print(10*5)     # Must return 50 since 10*5 = 50          -> Multiplication
print(10/5)     # Must return 2.0 since 10/5 = 2.0        -> Float Division
print(10//5)    # Must return 2 since 10/5 = **2** r. 0   -> Floor Division
print(10//3)    # Must return 3 since 10/3 = **3** r. 1
print(10%3)     # Must return 1 since 10/3 = 3 r. **1**   -> Modulo
print(10**2)    # Must return 100 since 10^2 = 100        -> Concantenation

15
5
50
2.0
2
3
1
100

### Bitwise Operators

In [17]:
a = 60        # 0011 1100
b = 13        # 0000 1101
print(a & b)  # 0000 1100 = 12  -> AND  (return 1 for 1 & 1, otherwise, return 0)
print(a | b)  # 0011 1101 = 61  -> OR   (return 0 for 0 | 0, otherwise, return 1)
print(a ^ b)  # 0011 0001 = 49  -> XOR  (return 1 for 1 ^ 0 or 0 ^ 1, otherwise, return 0)
print(a << 1) # 0111 1000 = 120 -> LEFT SHIFT   (move the bits n units to the left)
print(a << 2) # 1111 0000 = 240
print(a >> 1) # 0001 1110 = 30  -> RIGHT SHIFT  (move the bits n units to the right)
print(a >> 2) # 0000 1111 = 15

12
61
49
-60
120
240
30
15

###Assignment Operators

In [20]:
a, b = 60, 13
a += 2    # a = a + 2
print(a)  # Must return 62 since 60 + 2 = 62
b -= 3    # b = b - 3
print(b)  # Must return 10 since 13 - 3 = 10
b *= 2    # b = b*2
print(b)  # Must return 20 since 10*2 = 20

62
10
20

### Logical Operators

In [21]:
a, b, c, d = True, False, False, True
print(a and b)  # Must return False since True and False is False
print(a and d)  # Must return True since True and True is True
print(b and c)  # Must return False since False and False is False
print(a or b)   # Must return True since True or False is True
print(a or d)   # Must return True since True or True is True
print(b or c)   # Must return False since False or False is False
print(not a)    # Must return False since not True is False
print(not b)    # Must return True since not False is True

False
True
False
True
True
False
False
True

### Identity Operator

In [22]:
a, b, c = 60, 13, 60
print(a is b)       # Must return False since 60 != 13
print(a is c)       # Must return True since 60 == 60
print(a is not b)   # Must return True since 60 != 13
print(a is not c)   # Must return False since 60 == 60

False
True
True
False