<a href="https://colab.research.google.com/github/milayacharlieCvSU/CPEN-21A-CPE-1-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## FOR Loop Statement

In [1]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The `break` Statement

In [2]:
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [3]:
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through a String

In [4]:
for x in "week":
  print(x)

w
e
e
k

The `range()` Function

In [5]:
for x in range(6):
  print("Example 1:", x)

for x in range(2,6):
  print("Example 2:", x)

Example 1: 0
Example 1: 1
Example 1: 2
Example 1: 3
Example 1: 4
Example 1: 5
Example 2: 2
Example 2: 3
Example 2: 4
Example 2: 5

Nested FOR Loop

In [6]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## WHILE Loop Statement

In [7]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

The `break` Statement

In [8]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

The `continue` Statement

In [9]:
i = 1
while i < 6:
  i += 1
  if i == 3:
    continue
  else:
    print(i)

2
4
5
6

The `else` Statement

In [10]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6.")

1
2
3
4
5
i is no longer less than 6.

## Application of Loop Statements

### Application 1
Create a Python program that displays:


---


Hello 0

Hello 1

Hello 2

Hello 3

Hello 4

Hello 5

Hello 6

Hello 7

Hello 8

Hello 9

Hello 10

In [15]:
# `for` Loop
for x in range(11):
  print("Hello", x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [16]:
# `while` Loop
i = 0
while i <= 10:
  print("Hello", i)
  i += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

### Application 2
Create a Python program that displays
integers less than 10 but not less than 3.

In [17]:
# `for` Loop
for x in range(3,10):
  print(x)

3
4
5
6
7
8
9

In [18]:
# `while` Loop
i = 3
while i < 10:
  print(i)
  i += 1

3
4
5
6
7
8
9